html {
  scroll-behavior: smooth;
}
.navbar{
	padding:.5rem;
	opacity:.8;
}
.navbar-nav li{
	padding-right:50px;
}

.nav-link:hover{
	text-shadow: 2px 2px 8px;
	transition:.5s;
}
.navbar-nav li a.active{
	font-style: bold;
}

.carousel-caption{
	text-shadow: 8px 8px 8px;
}
.jumbotronx{
	margin:0;
	color:white;
	text-shadow:8px 8px 8px;
 	background: linear-gradient(90deg, lightyellow, darkgrey, grey, lightyellow);
 	background-size: 400%;
 	animation: animate 5s linear infinite;
}
@keyframes animate
{
 0%
 {
  background-position: 0%;
 }
 100%
 {
  background-position: 400%;
 }
}
.jumtext{
  background: -webkit-linear-gradient(blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin{
	margin:50px;
}
.padding{
	padding-top:5rem;
	padding-bottom: 15rem;
}
.title{
	padding-top:80px;
}
.img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#html1{
	height:285px;
	width:285px;
	transition:0.5s;
}
#html2{
	font-size:100px;
	color:rgba(229,76,33,1);
	transition:0.5s;
}
#html3{
	color:rgba(229,76,33,1);
	transition:0.5s;
}
#css1{
	height:285px;
	width:285px;
	transition:0.5s;
}
#css2{
	font-size:100px;
	color:#1b73ba;
}
#css3{
	color:#1b73ba;
	transition:0.5s;
}
#bs1{
	height:285px;
	width:285px;
	transition:0.5s;
}
#bs2{
	font-size:100px;
	color:rgba(95,64,139,1);
}
#bs3{
	color:rgba(95,64,139,1);
	transition:0.5s;
}
#js1{
	height:285px;
	width:285px;
	transition:0.5s;
}
#js2{
	font-size:100px;
	color:orange;
}
#js3{
	color:orange;
	transition:0.5s;
}


.cond{
	color:purple;
}

.coffee{
	color:brown;
}

.function{
	color:green;
}

.ob{
	color:black;
}

.social a{
	font-size:30px;
	padding:20px;
}

#html1:hover{
	font-size:140px;
	background-color:rgba(229,76,33,1);
	transition:0.5s;
}

#html1:hover #html2{
	color:white;
	transition:0.5s;
}
#html1:hover #html3{
	color:white;
	transition:0.5s;
}
#css1:hover{
	font-size:140px;
	background-color:#1b73ba;
	transition:0.5s;
}

#css1:hover #css2{
	color:white;
	transition:0.5s;
}
#css1:hover #css3{
	color:white;
	transition:0.5s;
}
#js1:hover{
	font-size:140px;
	background-color:orange;
	transition:0.5s;
}

#js1:hover #js2{
	color:white;
	transition:0.5s;
}
#js1:hover #js3{
	color:white;
	transition:0.5s;
}
#bs1:hover{
	font-size:140px;
	background-color:rgba(95,64,139,1);
	transition:0.5s;
}

#bs1:hover #bs2{
	color:white;
	transition:0.5s;
}
#bs1:hover #bs3{
	color:white;
	transition:0.5s;
}

.fixed{
	filter:blur(5px);
	height:600px;
	background-size: cover;
	background-attachment: fixed;
	background-image:url("image/fixed.jpg");
		
}

.box
{
	position: relative;
	
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 5px 20px rgba(0,0,0,.3);
}
.imgBx
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 2;
	background: #000;
}
.box:hover .imgBx
{
	transform: translateY(-100px);
}
.imgBx img
{
	transition: 0.5s;
}
.box:hover .imgBx img
{
	opacity: 0.5;
}
.social-icon
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
	display: flex;
	margin: 0;
	padding: 0;
}
.social-icon li
{
	list-style: none;
}
.social-icon li a
{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	background: #fff;
	color: #262626;
	margin: 0 20px;
	border-radius: 50%;
	transition: 0.3s;
	transform: translateY(200px);
	opacity: 0;
}
.box:hover .social-icon li a
{
	transform: translateY(0px);
	opacity: 1;
}
.box .social-icon li a .fa
{
	transition: 0.5s;
	font-size: 24px;
	line-height: 50px;
}
.box .social-icon li:nth-child(1) a:hover .fa
{
	color:#4267b2;
	transform: rotateY(360deg);
}
.box .social-icon li:nth-child(2) a:hover .fa
{
	color:rgb(29, 161, 242);
	transform: rotateY(360deg);
}
.box .social-icon li:nth-child(3) a:hover .fa
{
	color:#c24a31;
	transform: rotateY(360deg);
}
.box .social-icon li:nth-child(4) a:hover .fa
{
	color:#f00;
	transform: rotateY(360deg);
}
.box:hover .social-icon li:nth-child(1) a
{
	transition-delay: 0s;
}
.box:hover .social-icon li:nth-child(2) a
{
	transition-delay: 0.05s;
}
.box:hover .social-icon li:nth-child(3) a
{
	transition-delay: 0.1s;
}
.box:hover .social-icon li:nth-child(4) a
{
	transition-delay: 0.15s;
}

.details
{
	position: absolute;
	bottom: 0;
	left: 0;
	font-style: :bold;
	color:black;
	background: lightblue;
	width: 100%;
	height: 100px;
	padding: 15px;
}

.btmnav{
	background-color:grey;
	color:white;
	margin:0;
	padding:10px;
}
.btmnav p
{
	margin:0;
}
.hr
{
	border: 1px solid black;
}

.content
{
	margin-top:120px;
}

.card:before
{
	content:'';
	position:absolute;
	top:-3px;
	left:-3px;
	right:-3px;
	bottom:-3px;
	background-image: linear-gradient(270deg, #89ff00, #060c21,#00bcd4); 
	z-index:-1;
	
}
.card:after
{
	content:'';
	position:absolute;
	top:-3px;
	left:-3px;
	right:-3px;
	bottom:-3px;
	background-image: linear-gradient(270deg, #89ff00, #060c21,#00bcd4); 
	z-index:-2;
	filter:blur(30px);
}
